#teachbooks # depends on jupyter-book
teachbooks #BUMPS to 0.2.2
jupyterbook_patches
download_link_replacer
sphinx-image-inverter
sphinx-inline-tabs
sphinx-tudelft-theme
sphinx-named-colors
docutils == 0.17.1
teachbooks-sphinx-tippy
sphinx-dropdown-toggle
sphinx-iframes

git+https://github.com/TeachBooks/Sphinx-Thebe